$background-color:#f0f4f8;
$main-color:#ffffff;
$active-color:#55a8fd;
$footer-color:#324258;
$font-color:#3c495a;
$tag-green:#56D48F;
$font-gray:#7f92a9;
$font-family: 'Roboto', sans-serif;
$break-small:760px;
$tablet-width: 761px;
$desktop-width: 1220px;
$before-line-color: #C6BFBF;
