@import '_variable';
@import '_mixings';
@import '_header';
@import '_footer';

body {
  @include active-color($background-color, $font-color);
  margin: 0;
}

a {
  color: $font-color;
  font-family: $font-family;
  text-decoration: none;
}
.txt-green {
  color: $tag-green !important;
}

.txt-blue {
  color: $active-color !important;
}

.body-content {
  .breadcrumb {
      @include active-color(#ffffff, $font-color);
    ul {
      list-style: none;
      margin: 0;
      padding: 20px 75px;

      li {
        @include font(12px, 400, $font-family);
        color: $active-color;
        display: inline;

        a {
          color: #7f92a9;
          text-decoration: none;

          &:hover {
            color: $active-color;
          }
        }
      }

      li+li:before {
        color: $font-color;
        content: "/\00a0";
        padding: 0;
      }
      @include mobile {
        padding: 10px 20px;
      }
      @include tablet {
        padding: 20px;
      }
    }
  }

  .pagination {
    @include active-color(#ffffff, $font-color);
    .content {
      @include font(12px, 400, $font-family);
      color: #7f92a9;
      padding: 30px 75px 60px;

      .body-large {
        @extend .pagination-body;
        @include mobile {
          display: none;
        }
      }

      .body-small {
        @extend .pagination-body;
        @include tablet {
          display: none;
        }
        @include desktop {
          display: none;
        }
      }
      @include mobile {
        padding: 15px 20px 30px;
      }
      @include tablet {
        padding: 15px 20px 30px;
      }
    }
  }
}

.cards {
  .card-title {
    margin: 30px auto;
    text-align: center;
    h3{
      @include font(20px, 700, $font-family);
    }
  }

  .card-body {
    margin: auto 75px;
    text-align: center;

    .tiles {
      @include active-color($main-color, $font-color);
      display: inline-block;
      height: 520px;
      margin-bottom: 30px;
      width: 32%;
      position: relative;
      @include mobile {
        height: 420px;
        width: 100%;
      }
      @include tablet {
        height: 530px;
      }

      &:nth-child(1) {
        float: left;
      }

      &:nth-child(3n+1) {
        float: left;
      }

      &:nth-child(3n) {
        float: right;
      }

      &:hover {
        /*transform: translate(0, -5px);*/
        box-shadow: 0 2px 8px rgba(0,0,0,.4);
      }

      .heading {
        height: 35px;
        padding-top: 30px;

        button {
          @include font(15px, 500, $font-family);
          @include active-color($tag-green, #ffffff);
          border: none;
          border-radius: 25px;
          float: left;
          margin-left: 30px;
          padding: 8px;
        }

        h5 {
          @include font(15px, 800, $font-family);
          float: right;
          margin: 0;
          padding: 8px 38px 0 0;
        }
      }

      .content {
        clear: both;
        padding-top: 15px;

        img {
          border: 2px solid $active-color;
          border-radius: 50%;
          @include img-square(150px, 150px);
          @include mobile {
             @include img-square(100px, 100px);
          }
          @include tablet {
             @include img-square(120px, 120px);
          }
        }

        h5 {
          margin: 10px 0 5px;
          @include font(18px, 800, $font-family);

          &:hover {
            color: $active-color;
          }
        }

        h6 {
          @include font(12px, 200, $font-family);
          color: $font-gray;
          margin: 10px 0 5px;
        }

        .skill {
          padding: 10px 20px;

          button {
            @include font(12px, 500, $font-family);
            @include active-color($main-color, $font-color);
            border: 1px solid #ced9ee;
            border-radius: 25px;
            padding: 10px;

            &:hover {
              @include active-color($active-color, #ffffff);
              cursor: pointer;
            }

            &.more-skill {
              @include active-color($active-color, #ffffff);
            }
          }
          @include mobile {
            display: none;
          }
        }

        p {
          @include font(12px, 500, $font-family);
          margin: 0 0 15px;
          padding: 10px 20px;
        }
      }

      .profile {
        @include font(14px, 700, $font-family);
        bottom: 0;
        margin-top: 20px;
        padding: 30px 0;
        text-transform: uppercase;
        width: 100%;
        position: absolute;
        background-image: linear-gradient(to bottom, white 50%, $active-color 50%);
        background-size: 100% 200%;
        -webkit-transition: background-position 0.5s;
        -moz-transition: background-position 0.5s;
        transition: background-position 0.5s;

        &:hover {
          @include active-color($active-color, $font-color);
          cursor: pointer;
          background-position: 0 100%;

          a {
            color: #ffffff;
          }
        }
      }
    }
    @include mobile {
      margin: auto 20px;
    }
    @include tablet {
      margin: auto 20px;
    }
  }
}

.pagination-body {
  float: right;

  a {
    @include font(12px, 400, $font-family);
    color: #7f92a9;
    padding: 2px 5px;
    text-decoration: none;

    &.active {
      @include active-color($active-color, '#ffffff');
    }
  }
}
